# Docker Compose Project Configuration
COMPOSE_PROJECT_NAME=analyst_lab_dev

# RStudio Server Passwords
# These must be set securely on the development server.
RSTUDIO_DEV_COREY_PASSWORD=set_secure_password_here
RSTUDIO_DEV_TYLER_PASSWORD=set_secure_password_here
